@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

:root {
    --bg: #ffffff;
    --ongs: #f4e0c1;
    --footer: #f3d4a5;
    --brown: #594A3C;
    --font: #241202;
    --header-bg: #efe6da;
    --detail: #d4b086;
}

* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-image: url(./moroccan-flower.png);
}

header {
    background-color: var(--header-bg);
    border-bottom: var(--brown) solid 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
}

header img {
    width: 250px;
}

header nav a {
    text-decoration: none;
    font-size: 24px;
    color: var(--font);
    padding: 22px;
    border-radius: 32px;
    background-color: var(--detail);
    margin-left: 32px;
    transition: 0.25s; 
}

header nav a:hover {
    background-color: var(--brown);
    color: var(--bg);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

h2, p, a, button {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--font);
}

main h2 {
    font-size: 36px;
    text-align: center;
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main p {
    font-size: 22px;
    margin-right: 16px;
}

main {
    width: 65%;
    padding: 32px 64px;
    margin: auto;
    background-color: var(--header-bg);
}

main .sobre {
    display: flex;
    padding-bottom: 200px;
}

main img {
    width: 180px;
}

main .slides {
    width: 600px;
    height: fit-content;
    border-radius: 8px;
}

main .ongs {
    display: flex;
    margin-top: 32px;
    padding-bottom: 128px;
}

main .ongs div {
    width: 95%;
    text-align: center;
    margin-right: 32px;
    padding: 16px;
    border-radius: 8px;
    border: var(--brown) solid 2px;
    background-color: var(--ongs);
    transition: 0.25s;
}

main .ongs div a {
    font-size: 20px;
    text-decoration: underline;
}

main .ongs .save-brasil {
    width: 150px;
} 

main .ongs div:hover {
    border: var(--font) solid 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

footer {
    background-color: var(--footer);
    padding: 16px 64px;
    display: flex;
    flex-direction: row-reverse;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    width: 93.33%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

footer div {
    display: flex;
    align-items: center;

}

footer a, footer .email, a {
    color: var(--font);
    text-decoration: none;
    padding: 8px;
    border-radius: 20px;
}

.logo-footer {
    width: 50px;
    margin: 0 16px;
}

footer p {
    margin: 0
}

footer a:hover, footer .email:hover, a:hover  {
    background-color: var(--detail);
    font-weight: bold;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.slideshow {
    display: flex;
    align-items: center;
}

.slideshow div button {
    margin: 8px;
    padding: 12px;
    width: 32px;
    border-radius: 30%;
    background-color: var(--detail);
    border: 0;
    transition: 0.25s;
    font-weight: bold;
}

.slideshow div button:hover {
    background-color: var(--brown);
    scale: 1.15;
    color: var(--bg);  
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.no-display {
    display: none;
}

.display-on {
    display: block;
}

@media only screen and (max-width: 1600px)   {
    main .sobre {
        display: inline;
    }
    .slideshow {
        display: flex;  
        flex-direction: column;
        padding-bottom: 100px;   
   }
   main .slides {
    width: 650px;
   }
   
   .slideshow div button {
    width: 64px;
    height: 64px;
   }
}

@media only screen and (max-width: 1068px) {
    main {
        width: 75%;
    }
   
    header nav a {
        width: 100%;
        font-size: 20px;
        padding: 18px;
        display: flex;
        border-radius: 0;
        border-top: var(--brown) solid 2px;
    }

    header img {
        width: 220px;
    }

    main .ongs {
        display: inline;
    }

    main .ongs div {
        margin-bottom: 46px;
    }

    main .ongs img {
        width: 40%;
    }

    footer {
        padding: 8px 32px;
    }
}

@media only screen and (max-width: 720px) {
    main .slides {
        width: 110%;
    }

    main p {
        font-size: 18px;
    }

    footer {
        padding: 8px 16px;
        justify-content: center;
    }

}